<html>
    <head>
    </head>
    <body>
        <title>Search page</title>
        <div>
            <h1>search Here</h1>
        </div>
        <div>
            <form action='/weatherapp' method='POST'>
                CITY: <input type="text" name="city" id="city"></br>
                UNITS: <input type="text" name="units" id="units"></br>
                APPID: <input type="text" name="appid" id="appid"></br>
                <h2><input type='submit' value='search'></h2>
            </form>
        </div>
    </body>
</html>